In [68]:
import pandas as pd

buffer = pd.read_csv('./summerOly_athletes.csv')
buffer['NOC'] = buffer['NOC'].str.replace('\xa0', '', regex=True)
buffer["Medal"] = buffer["Medal"].str.replace('\xa0', '', regex=True)
buffer['Sport'] = buffer['Sport'].str.split(',', n=1).str[0]

# weight gold, silver, and bronze medals accordingly
medal_mapping = {
    "No medal": 0,
    "Bronze": 1,
    "Silver": 2,
    "Gold": 3
}

buffer["Medal"] = buffer["Medal"].replace(medal_mapping)
collapsed_data = buffer.groupby(['NOC', 'Year', 'Sport', 'Event'], as_index=False)["Medal"].max()
total_medals_by_noc = collapsed_data.groupby(['NOC','Year'])['Medal'].sum().reset_index()

total_medals_by_noc

/tmp/ipykernel_45411/520190248.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  buffer["Medal"] = buffer["Medal"].replace(medal_mapping)

      NOC  Year  Medal
0     AFG  1936      0
1     AFG  1948      0
2     AFG  1956      0
3     AFG  1960      0
4     AFG  1964      0
...   ...   ...    ...
3217  ZIM  2008      9
3218  ZIM  2012      0
3219  ZIM  2016      0
3220  ZIM  2020      0
3221  ZIM  2024      0

[3222 rows x 3 columns]

In [69]:
collapsed_data2 = buffer.groupby(['NOC', 'Year', 'Sport', 'Event'], as_index=False).size()
events_by_noc = collapsed_data2.groupby(['NOC', 'Year'])['size'].count().reset_index(name='Event_Count')
events_by_noc

      NOC  Year  Event_Count
0     AFG  1936            4
1     AFG  1948            2
2     AFG  1956            1
3     AFG  1960           13
4     AFG  1964            8
...   ...   ...          ...
3217  ZIM  2008           15
3218  ZIM  2012            8
3219  ZIM  2016           13
3220  ZIM  2020            5
3221  ZIM  2024            6

[3222 rows x 3 columns]

In [70]:
copy = pd.read_csv('./summerOly_athletes.csv')

medal_mapping = {
    "No medal": 0,
    "Bronze": 1,
    "Silver": 2,
    "Gold": 3
}


copy["Medal"] = copy["Medal"].replace(medal_mapping)

sport_dict = pd.Series(clusters_df.Cluster.values, index=clusters_df.Sporta).to_dict()

copy["Cluster"] = copy["Sport"].map(sport_dict)
collapse_copy = copy.groupby(['NOC', 'Year', 'Sport', 'Event', 'Cluster'], as_index=False)["Medal"].max()

medals = collapse_copy.groupby(['NOC', 'Year', 'Cluster'], as_index=False)['Medal'].sum()
pmedals = medals.pivot_table(index=['NOC', 'Year'], columns='Cluster', values='Medal', aggfunc='sum', fill_value=0)
pca = pd.merge(pmedals, noc_year_data[["NOC", "Year", "Athlete_Count", "Male_Percentage"]], on=['NOC', 'Year'], how='left')
pca = pca.rename(columns={'Athlete_Count': 'Event_Count',
                          1.0: "Cluster1",
                          2.0: "Cluster2",
                          3.0: "Cluster3",
                          4.0: "Cluster4",
                          5.0: "Cluster5",
                          6.0: "Cluster6",
                          7.0: "Cluster7",
                          8.0: "Cluster8",
                          9.0: "Cluster9"
                         })
pca

/tmp/ipykernel_45411/1689860990.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  copy["Medal"] = copy["Medal"].replace(medal_mapping)

NameError: name 'clusters_df' is not defined